/* mobile optimizations */
@media screen and (max-width: 1020px) {
  #container, #header, #content, #footer {
    float: none;
    width: auto;
  }
 #subtitle, #share, #slider, #sidebar {
    display:none;
  }
}

#img_ourwork{
	height: 500px;
	border: 1px solid black;
}

#text_ourwork{
	height: 500px;
	text-align: center;
	vertical-align: center;

}

h1{
	text-shadow: 4px 4px #000;
}

#our_work{
	position: relative;
	top: 180px;
}

.c1{
	text-align: center;
	background-color:rgb(139,169,200);
}

.form-center{
	text-align: center;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.center-div
{
     margin: 0 auto;
     width: 100px;
}
