<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>EatMeNow</title>

    <!--Custom Stylesheet I used to manipulate and change some elements -->
    <link href = "../static/css/custom.css" rel = "stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Menu</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>About</a>
            </li>
            <li>
                <a href="#features" onclick=$("#menu-close").click();>Features</a>
            </li>
            <li>
                <a href="#ourwork" onclick=$("#menu-close").click();>Our Work</a>
            </li>
            <li>
                <a href="#team" onclick=$("#menu-close").click();>Our Team</a>
            </li>
            <li>
                <a href="#team" onclick=$("#menu-close").click();>Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1> <span id="logo">EatMeNow</span></h1>
            <h2> Waste Less, Effortless</h2>
            <p class = "lead">Track grocery purchases, monitor food for freshness, and reduce household food waste.</p>
            <br>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row text-center" id = "center-div">
                    <p class="lead">
                        How often do you find spoiled food in your fridge or pantry? Losing track of food is one of the main causes of food waste at the household level. It’s easy to overlook items that get pushed to the back of the shelf and difficult to remember exactly what we still have at home when shopping for groceries. Enter EatMeNow.
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

        <section class="callout">
            <div class="text-vertical-center">
            <br>
                <h1>WHY Waste Less?</h1>
                    <br>
                    <div class="container">
                      <div class="row text-center" id = "center-div">
                        <p class="lead">
                            In industrialized countries, between 30 and 40% of food production is wasted. More than 40% of this waste occurs at the retail or the consumer level. These losses cause unnecessary overproduction and demand more crop land than we really need. At the same time, about one billion people on Earth cannot get enough to eat.
                        </p>
                       </div>
                    </div>
                    <img src = "../static/img/Graph.png" style = "height: 250px; width: 400px"
            </div>
    </section>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="features" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Features</h2>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-clipboard fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Inventory</strong>
                                </h4>
                                <p>An automated inventory of food purchases</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bell fa-stack-1x text-primary"></i>
                            </span>

                                <h4>
                                    <strong>Alerts</strong>
                                </h4>
                                <p>Reminds you to use your food</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cutlery fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Recipes</strong>
                                </h4>
                                <p>Recipe suggestions for otherwise wasted food</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Portfolio -->
    <section id="ourwork" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Work</h2>
                    <hr class="small" style="margin: auto auto 15px auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img id = "img_ourwork" class="img-portfolio img-responsive" src="../static/img/fridge.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id = "text_ourwork" class="portfolio-item">
                               <p style = "text-align: left;" class = "lead"> EatMeNow gathers data using two methods:
                                <br>
                                1. Automated electronic receipts
                                <br>
                                2. Taking a picture of a physical grocery store receipt (OCR).
                                <br>
                                <br>
                                EatMeNow will read, input, and organize your food items for you. The app will monitor your food for both safety and quality and provide and optimal consumption date for each item.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-push-6 col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img id = "img_ourwork" class="img-portfolio img-responsive" src="../static/img/recipes.jpg">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-pull-6 col-md-6">
                            <div id = "text_ourwork" class="portfolio-item">
                               <p id = "our_work" style = "text-align: middle;" class = "lead"> You have a list of the food in your fridge – now what? EatMeNow offers integrated recipes to help you use your available groceries while they are still fresh. You can generate new recipes, search for existing recipes online, or add your own.  </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <!--<a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Carousel-->
    <section id="#team" name="team"></section>
    <div id="testimonials" id="dark-grey">
        <div class="container" id="dark-grey">
            <div class="row" id="dark-grey" >
                    <div class="col-lg-8 col-lg-offset-2 mt">
                            <h2 style = "text-align: center"> <strong>Our Team</strong></h2>
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                          <!-- Wrapper for slides -->


                          <div class="carousel-inner">


                        <div class="item mb centered">
                            <h3 id="NAME">Ali</h3>
                            <p><img class="img-circle" src="../static/img/ali.jpg" width="400" height = "400"></p>
                        </div>

                            <div class="item mb centered">
                              <h3 id="NAME">Eric</h3>
                                <p><img class="img-circle" src="../static/img/eric.png" width="400" height = "400"></p>

                            </div>

                            <div class="item active mb centered">
                              <h3 id="NAME">Ernst</h3>
                            <p><img class="img-circle" src="../static/img/ernst.png" width="400" height = "400"></p>
                            </div>


                              <div class="item mb centered">
                              <h3 id="NAME">Murilo</h3>
                                  <p><img class="img-circle" src="../static/img/murilo.jpg" width="400" height = "400"></p>

                            </div>

                              <!-- <div class="item mb centered">
                              <h3 id="NAME">#Include</h3>

                              <p><img class="img-circle" src="assets/img/pic-t3.jpg" width="80"></p>
                            </div>
                               -->

                          </div>
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>

                      </ol>
                    </div>
                    </div><!--Team-->
                </div><! --/col-lg-8 -->
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/testimonials -->

    <!-- Embedded Google Form -->
    <section class="call-to-action bg-primary" id="customcolor" style="height: 600px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <embed src="https://docs.google.com/forms/d/e/1FAIpQLSeFKGmHAB-eJfNcccezTveWfQnR4Ppf07lkrwN26_opmK3F4g/viewform?c=0&w=1" class="container" style="height: 500px">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section id="#contact" class ></section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>EatMeNow</strong>
                    </h4>
                    <p>801 North Campus Way
                        <br>Davis, CA 95616</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (530) 302-6530</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">ernstbo@gmail.com</a>
                        </li>
                    </ul>
                    <br>
<!--                     <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                    </ul> -->
                    <!-- <hr class="small"> -->
                    <p class="text-muted">Made by include-davis.club</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </section>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
